body {
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

img {
    display:block;
}

#zoom-component {
    border: solid 2px white;
    display:inline-block;
    position: relative;
    -moz-overflow: hidden;

    .icons {
        position: absolute;
        top: 10px;
        right: 10px;
        width:1.5rem;
        z-index: 999;
        :nth-child(1) {
            margin-bottom: 10px;
        }
    }

    .icon {
        &.disabled {
            color: grey;
            opacity: .2;
        }
    }
}

.images-container {
    -moz-overflow: hidden;
    overflow:hidden;
    img {
        transition: all .5s;
        touch-action: pan-y;
        user-select: none;
        cursor: zoom-in;
        &.zoomed {
            cursor: -webkit-grab;
            cursor: -moz-grab;
            cursor: grab;
            &:active {
                cursor: -webkit-grabbing;
                cursor: -moz-grabbing;
                cursor: grabbing;
            }
        }
    }
}